body {
    font-family: 'Georgia', 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #0F172A;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-wrap: wrap; 
}

.hero-section {
    color: #fff;
    padding: 100px 20px;
    text-align: left;
    text-size-adjust: ;
}

.hero-section p {
    color: #94A3B8;
    
}

.hero-section h1 {
    font-size: 40px;
    font-size: 16px;
}

.about-section {
    flex: 1;
    padding: 89px; 
    margin-top: 20px;
    box-sizing: border-box;
    color: #94A3B8;
    box-sizing: border-box;
    line-height: 1.8;
    font-size: 16px;
    text-align: justify;
}

.about-section strong {
    color: white;
}

.about-section * {
    color: inherit;
}

.light-effect {
    position: fixed;
    background: radial-gradient(circle, #0F172A, rgba(114, 72, 72, 0));
    border-radius: 50%;
    width: 130px;
    height: 130px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.20s ease-out;
    box-shadow: 0 0 700px rgb(62, 76, 112);
}

.social-list li {
    margin-right: 15px; 
    color: white;
}

.social-list {
    list-style: none;
    display: flex;

}

.social-list a {
    text-decoration: none;
    color: #94A3B8;
    font-size: 16px;
    transition: color 0.3s ease-out;
}

.social-section {
    margin-top: 10px;
}

.social-list a:hover {
    color: white;
}
.experience-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.experience-item {
    background-color: #09122c;
    border-radius: 8px;
    width: 40%;
    margin-right: 69px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.experience-item:hover {
    background-color: #23354e;
}

.experience-item .job-info {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.experience-item .job-info .job-date {
    color: #94A3B8;
    font-size: 14px;
    margin-right: 10px;
}

.experience-item .job-info h3 {
    margin: 0;
    color: white;
    font-weight: normal;
}

.experience-item .job-details {
    flex: 1;
}

.experience-item .job-title {
    color: #94A3B8;
    margin-left: 109px;
    margin-top: -8px;
}

.experience-item .job-description {
    color: #94A3B8;
    margin-bottom: 15px;
    margin-left: 109px;
}

.experience-item .technologies ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    margin-left: 109px;
    flex-wrap: wrap;
}

.experience-item .technologies li {
    padding: 5px 10px;
    border-radius: 40%;
    background: linear-gradient(to right, #285F63, #535b6d);
    font-size: 11px;
}

.experience-item .technologies {
    width: 100%;
    overflow: hidden;
}
.footer-section {
    width: 100%; 
    float: none; 
    text-align: center; 
    margin-right: 0; 
    font-size: 14px;
}

.footer-section p{
    color: white;
}


.resume-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.resume-link:hover {
    background-color: #334257;
}

@media only screen and (max-width: 968px) {
    .hero-section {
        padding: 60px 20px; 
    }

    .hero-section h1 {
        font-size: 30px;
    }

    .about-section {
        flex-basis: 100%; 
        margin-top: -98px; 
        margin-left: -65px;
    }

    .experience-item {
        width: 100%; 
        margin-right: 0;
    }

    .social-section {
        margin-top: 20px; 
    }

    .social-list li {
        margin-right: 10px; 
    }
}