body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #0F172A;
    height: 100%;
    width: 100%;
}

.cursor-light {
    position: fixed;
    top: -100px; /* Ajusta la posición inicial según sea necesario */
    left: -100px; /* Ajusta la posición inicial según sea necesario */
    width: 600px; /* Ajusta el ancho de la bola de luz */
    height: 600px; /* Ajusta la altura de la bola de luz */
    background: rgba(60, 60, 126, 0.1); /* Color azulado con opacidad */
    border-radius: 40% 20% 40% 30%; /* Ajusta el border-radius para una forma más irregular */
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    box-shadow: 0 0 50px 50px rgba(60, 60, 126, 0.1); /* Ajusta el box-shadow */
}


.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}

.hero-section {
    color: #fff;
    text-align: left;
    padding: 100px 0;
    margin-top: -76px;
    align-self: flex-start;
    position: fixed;
}

.hero-section h2 {
    font-size: 20px;
    margin-top: -10px;
}

.hero-section p {
    color: #94A3B8;
}

.hero-section h1 {
    font-size: 40px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about-section {
    flex: 1;
    padding: 55px;
    box-sizing: border-box;
    color: #94A3B8;
    max-width: 600px;
    align-self: flex-end;
}

.experience-section {
    flex: 1;
    padding: 55px;
    box-sizing: border-box;
    max-width: 600px;
    align-self: flex-end;
}

.experience-item {
    border-radius: 8px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 20px;
    background-color: #1E293B;
}

.experience-item:hover {
    background-color: #23354e;
    transform: translateY(-8px);
}

.job-info {
    display: flex;
    align-items: center;
}

.job-info .job-date {
    color: #94A3B8;
    font-size: 12px;
    margin-right: 10px;
}

.job-info h3 {
    color: white;
}

.job-title {
    color: #94A3B8;
}

.job-description {
    color: #94A3B8;
}

.technologies ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

.technologies li {
    padding: 5px 10px;
    border-radius: 30%;
    background: linear-gradient(to right, #1931bd8a, #82918e);
    font-size: 12px;
    color: white;
}

.social-list {
    list-style: none;
    display: flex;
    margin-left: -38px;
    margin-top: 500px;
}

.social-list li {
    margin-right: 15px;
    color: white;
}

.social-list a {
    text-decoration: none;
    color: #94A3B8;
    font-size: 25px;
}

.social-list a:hover {
    color: white;
}

.footer-section {
    text-align: center;
    padding: 20px 0;
}

.footer-section p {
    color: white;
}

.resume-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

@media only screen and (max-width: 968px) {
    .hero-section {
        padding: 60px 20px;
    }

    .about-section,
    .experience-section {
        flex-basis: 100%;
        padding: 20px;
        align-self: auto;
    }

    .experience-item {
        width: 100%;
    }

    .social-list li {
        margin-right: 10px;
    }
}


.nav-section ul {
    list-style: none;
    padding: 20px 0;
}

.nav-section li {
    margin: 0 15px;
}

.nav-section a {
    text-decoration: none;
    color: #94A3B8;
    font-size: 12px;
    font-weight: bold;
    transition: color 0.3s ease-out; /* Agrega una transición de color */
}

.nav-section a:hover {
    color: #FFFFFF;
}

.resume {
    list-style: none;
}
